@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  background-color: yellow;
  font-family: "Lobster", display;
  margin-top: 150px;
  padding: 50px;
}

#toggle {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 600px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 8px;
  background-color: yellow;
  cursor: pointer;
  font-family: "Poppins";

  &:hover {
    border-color: aliceblue;
  }
}

#fonar {
  width: 250px;
  height: 250px;
  display: none;
  position: absolute;
  z-index: 999;
  pointer-events: none;
}

.on {
  display: block !important;
  box-shadow: 0 0 0 9999px #000 !important;
  
}
